.cardshow1 {
    position: absolute;
    top: 2px;
    left: 35px;
}

.cardshow2{
    position:absolute;
top:20px;
left: 35px;
}
.cardshow3 {
    position: absolute;
    top: 40px;
    left: 10px;
}
.cardshow4{
    position:absolute;
top:2px;
right:20px 
}
.cardshow5{
    position:absolute;
top:40px;
right:20px 
}

.cardshow6{
    position:absolute;
top:15px;
left:10px;
background-color: greenyellow;
}